body,html{
  width: 100%;

}
/*-------------------------------------hero section--------------------------------------------------------------*/
.Hotline{
    font-size: 1rem;
    color: #000000;
}
.Discount{
    margin: auto;
}
.dropdown-menu a {
    text-decoration: none;
    color: #000000;
  }
  .dropdown-menu a .d-flex {
    transition: all 0.5s;
  }
  .dropdown-menu .col-sm-6:nth-child(1) a:hover .d-flex {
    background-color:red;
  }
  .dropdown-menu .col-sm-6:nth-child(2) a:hover .d-flex {
    background-color: green;
  }

  .bi-search, .bi-cart{
    color: #000000;
    padding: 3px;
    filter: brightness(40%);
  }
  .bi-heart{
    color: #000000;
    padding: 5px;
  }
  .nav-icons .badge{
    position: absolute;
    top: 22px;
    right: 155px;
    background-color: blue;
    color: rgb(255 255 255);
    border-radius: 55%;
    padding: 4px 6px;
    font-size: 10px;
    font-weight: bold;
  }

.right{
  display: flex;
  gap: 10px;
  border:none;
}
/*-------------------------------------nav bar section--------------------------------------------------------------*/
.collapse .navbar-nav .nav-item{
  font-weight: bold ;
}
.collapse .navbar-nav .nav-item .nav-link{
  color: black;
}

/*.promo-banner {
  background-color: #008080;
  color: white;
  padding: 50px 0;
  text-align: left;
}*/
.h1{
  color: aliceblue;
}
.one{
  background: #008080;
}
.second{
 background-color: #007aff;
}
.third{
background-color: rgb(224, 197, 148);
}
/*-------------------------------------owl section--------------------------------------------------------------*/
.zoom {
  padding: 5px;
  transition: transform 1s;
  width: 12rem;
  margin-top: 3rem;
  
  
}

.zoom:hover {
  transform: scale(1.1);
}




 
